<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ag</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="com/my/mt/Customer.hbm.xml" />
        <mapping resource="com/my/mt/Fieldweed.hbm.xml" />
        <mapping resource="com/my/mt/Task.hbm.xml" />
        <mapping resource="com/my/mt/Cultivation.hbm.xml" />
        <mapping resource="com/my/mt/Weedofplant.hbm.xml" />
        <mapping resource="com/my/mt/Plantprotectprroduct.hbm.xml" />
        <mapping resource="com/my/mt/Portionofprotectproduct.hbm.xml" />
        <mapping resource="com/my/mt/Experience.hbm.xml" />
        <mapping resource="com/my/mt/Plot.hbm.xml" />
        <mapping resource="com/my/mt/Field.hbm.xml" />
        <mapping resource="com/my/mt/Weed.hbm.xml" />
        <mapping resource="com/my/mt/Employer.hbm.xml" />
        <mapping resource="com/my/mt/Verification.hbm.xml" />
        <mapping resource="com/my/mt/Customerexpirence.hbm.xml" />
        <mapping resource="com/my/mt/Plant.hbm.xml" />
        <mapping resource="com/my/mt/Stage.hbm.xml" />
        <mapping resource="com/my/mt/Typeofexpirence.hbm.xml" />
        <mapping resource="com/my/mt/Expirenceprotectproduct.hbm.xml" />
    </session-factory>
</hibernate-configuration>
